body{
  background-color: #61122f;
}
#header-nav{
  background-color: #f6b319;
}
body{
  background-color: #61122f;
}
#header-nav{
  background-color: #f6b319;
  height: 160px;
  border-radius: 0;
  border: 0;
}
#logo-img{
  height: 150px;
  padding: 5px;
}
#logo-text{
  color: #557c3e;
  font-size: 20px;
}
#kosher{

}